{% extends "base/html/base.html" %}

{% block title %}
Business
{% endblock %}

{% block content %}

<h2 class="mb-4">Business News</h2>

{% for article in news %}

    <div class="card shadow-sm mb-4">
        <h3 class="card-title mt-3">
            {{ article.title }}
        </h3>
        <small class="text-muted">
            {{ article.created_at|date:"F d, Y" }}
            <span class="badge bg-secondary">
                {{ article.category }}
            </span>
        </small>

        {% if article.image %}
        <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
        {% endif %}

        <div class="card-body">
            <p class="card-text">
                {{ article.content}}
            </p>
        </div>
    </div>

{% empty %}

<div class="alert alert-warning">
    No Business News Available.
</div>

{% endfor %}

{% endblock %}